@import "tailwindcss";
@config "../tailwind.config.ts";

:root {

  --foreground-rgb: 255, 255, 255;

  --background-rgb: 10, 10, 10;

}



body {

  color: rgb(var(--foreground-rgb));

  background: rgb(var(--background-rgb));

  overflow-x: hidden;

}



/* Animación opcional para el fondo */

.bg-grid {

  background-image: radial-gradient(circle, #1a1a1a 1px, transparent 1px);

  background-size: 30px 30px;

}



@layer components {

  .border {

    @apply px-[5px];

  }

}